{% extends "base.html" %}


{% block body %}

    <!-- navbar-->
    <nav class="navbar">
        <div class="navbar-center">
            <span class="nav-icon">
               <i class="fas fa-bars"></i>
           </span>
            <div class="search-container">
                <form action="/search">
                    <input id="result" type="text" value="" placeholder="Search.." name="query">
                    <button type="submit" id="form-btn"><i class="fa fa-search"></i></button>
                </form>


            </div>
            <div class="search-container">
                <button onclick="startConverting(); setTimeout(ssearch,8000);">
                <span class="nav-icon">
                    <i class="fas fa-microphone"></i>
                 </span>
            </div>
            <div>
                <span><button id="loginButton">
                    <i class="fas  fa-user-circle"></i></button>
                </span>
            </div>
            <div class="cart-btn">
                <span class="nav-icon">
                   <i class="fas fa-cart-plus"></i>
                </span>
                <div class="cart-items">0</div>
            </div>
        </div>
    </nav>

    <!-- end of navbar-->
    <div class="overlay">

    <div id="loginContainer" class="closed">
      <button class="closeButton">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <path
              d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z">
          </path>
      </svg>
      </button>
      <div class="login-form">
          <h2>Login</h2>
          <form method="POST" action="{{ url_for('root') }}" id="loginForm">
              {{ form.hidden_tag() }}
              <div class="form-group">
                  <label for="email" class="input-label">Email:</label>
                  {{ form.email(id="email", required=True, placeholder="Email") }}
              </div>
              <div class="form-group">
                  <label for="password" class="input-label">Password:</label>
                  {{ form.password(id="password", required=True, placeholder="Password") }}
              </div>
              <div class="login">
                  {{ form.submit(class="click", type="submit", value="Login") }}
              </div>
          </form>
          <div class="forgot">
              <a href="">Forgot Password?</a>
          </div>
          <div class="sign-up">
              <p>Don't have an account? <span class="signup" id="registerLink">Sign Up</span></p>
          </div>
      </div>
      <div class="image-container">
          <img src="{{ url_for('static', filename='images/cart2.png')}}", alt="a">
      </div>
  </div>
  
  <div id="registerContainer" class="closed">
      <button class="closeButton">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
          <path
              d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z">
          </path>
      </svg>
      </button>
      <div class="login-form">
          <h2>Register</h2>
          <form method="POST" action="{{ url_for('root') }}" id="registerForm">
              {{ registration_form.hidden_tag() }}
              <div class="form-group">
                  <label for="email" class="input-label">Email:</label>
                  {{ registration_form.email(id="email", required=True, placeholder="Email") }}
              </div>
              <div class="form-group">
                  <label for="password" class="input-label">Password:</label>
                  {{ registration_form.password(id="password", required=True, placeholder="Password") }}
              </div>
              <div class="login">
                  {{ registration_form.submit(class="click", type="submit", value="Register") }}
              </div>
          </form>
          <div class="sign-up">
              <p>Already have an account? <span class="signup" id="loginLink">Login</span></p>
          </div>
      </div>
      <div class="image-container">
          <img src="{{ url_for('static', filename='images/home13.png')}}", alt="a">
      </div>
  </div>
</div>


<script src="{{url_for('static', filename='js/login.js')}}"></script>

{% endblock %}
